
div#outerContainer {
  margin: 0;
  padding: 0;
  width: 100%;
}

div#innerContainer {
  margin: 0 auto;
  max-width: 1400px;
}

div#stickyNotesContainer {
  background-color: var(--surface);
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 2rem;
  justify-content: center;
  width: 100%;
}